<p>
  <mat-toolbar>
    <span class="spacer"></span>
    <span class="sty">Know Your Caller</span>
    <span class="spacer"></span>
  </mat-toolbar>

  <mat-toolbar class="minFontToolbar">
    <span class="spacer"></span>

    <mat-card
      color="accent"
      layout-align="center center"
      layout="column"
      class="card"
    >
      <form class="search-form">
        <span matPrefix style="font-size: medium">+91 &nbsp;</span>
        <input
          type="tel"
          minlength="9"
          maxlength="10"
          id="user-input"
          placeholder="Caller Number"
          class="number-input"
        />

        <button mat-button style="line-height: 0px" [routerLink]="'/search'">
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </mat-card>

    <span class="spacer"></span>
  </mat-toolbar>
</p>

<!-- 
<mat-toolbar >
  <span class="spacer"></span>

  <mat-card layout-align="center center" layout="column">
    <input
      type="tel"
      minlength="9"
      maxlength="10"
      class="user-input"
      placeholder="Caller Number"
      class="number-input"
    />

    <form class="search-form">
      <mat-form-field id="content" floatLabel="never" appearance="none">
        <span matPrefix>+91 &nbsp;</span>
        <input
          type="tel"
          minlength="9"
          maxlength="10"
          class="user-input"
          placeholder="Caller Number"
          class="number-input"
        />
      </mat-form-field>
    </form>
  </mat-card>

  <span class="spacer"></span>
</mat-toolbar> -->
